.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
  background-color: lightgrey;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  max-width: var(--max-width);
  width: 150%;
  z-index: 2;
  font-family: var(--font-mono);
  background-color: rgb(126, 165, 46);
  padding: 15px;
  border-style: solid;
  border-color: SeaShell;
  
}

.topTitle {
  font-family: sans-serif;
}

.recipePic {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 15px;
}
.recipePic {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 15px;
  transition: width 2s, height 4s;
  }
  .recipePic:hover {
    width: 150%
    height: 140%
  
}

.recipeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
 
}

.typeOfRecipes {
  font-size: o.75rem;
  display: flex;
  align-items: center;
}
