.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
  background-color: lightgrey;
}

.description {
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  max-width: var(--max-width);
  width: 150%;
  z-index: 2;
  font-family: var(--font-mono);
  background-color: rgb(126, 165, 46);
  padding: 15px;
  border-style: solid;
  border-color: SeaShell;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  }

.recipePic {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.recipeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.typeOfRecipes {
  font-size: o.75rem;
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
